<div class="jumbotron text-center">
  <h1>La p&aacute;gina Acerca de</h1>
  <p>Esta página muestra vistas <span class="text-danger">multiples</span> y <span class="text-danger"> con nombre.</span>.</p>
</div>

<div class="row">
  <div class="col-sm-6">
    <div ui-view="columnOne"></div>
  </div>
  <div class="col-sm-6">
    <div ui-view="columnTwo"></div>
  </div>  
</div>