<div class="row">
  <div class="col-md-12">
    <div class="error-template">
      <h1>Oops!</h1>
      <h2>404 No encontrado.</h2>
      <div class="error-details">Lo sentimos: se produjo un error. ¡No se encontró la página solicitada!</div>
      <div class="error-actions">
				<button class="btn btn-primary" ng-click="vm.backHistory()"><i class="glyphicon glyphicon-home"></i> Regresar atrás</button>
				<button class="btn btn-default" ng-click="vm.backHome()"><i class="glyphicon glyphicon-home"></i> Regresar a Inicio</button>
      </div>
    </div>
  </div>
</div>