<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="C€ Platform Connect is the single platform that server as foundation for all the products of ControlExpert IberoAmerica and ControlExpert Italy." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#003a5e">
    <meta http-equiv="Cache-control: max-age=31556926" content="public">   
    <title>{{ htmlWebpackPlugin.options.title }}</title>
	</head>
  <body>
    <h1>Webpack, Sass & A Template Engine</h1>
    <img src="./static/logo.png" alt="">
    {{> partials/header title = htmlWebpackPlugin.options.title }} 
    {{> partials/newsletter }}
    <h1>Funciona...!!!</h1>
  </body>
</html>