<!-- Home: Plantilla principal para Home. -->
<div class="jumbotron text-center">
  <h1>La p&aacute;gina hogareña</h1>
  <p>Esta página muestra vistas <span class="text-danger">anidadas.</span></p>
    
  <a ui-sref="home.list" class="btn btn-primary">Lista de razas de perros</a>
  <a ui-sref=".paragraph" class="btn btn-danger">P&aacute;rrafo</a>
</div>
<div ui-view></div>
<!-- ./Home -->