<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aplicación de Ejemplo para Node.js" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#003a5e">
    <meta http-equiv="Cache-control: max-age=31556926" content="public">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
  </head>
  <body class="unselectable container">
    <!-- Header de navegación. -->
    {{> partials/header title = htmlWebpackPlugin.options.title }}

    <!-- Contenido de la página. -->
    <section class="container body-content">
      {{> partials/newsletter }}
    </section>

    <!-- Footer. -->
    {{> partials/footer }}
  </body>
</html>