/* Importamos las variables. */
@import "./variables.scss";

/* Importamos los estilos CSS de las pantallas. */
// @import "../partials/home/home.scss";

/* Segunda fuente. */
@font-face {
  font-family:              $font-sourcesans;
  src:                      url($font-sourcesans-url);
}


/* Configuración de los estilos CSS3 por SASS. */
/* Fuente: https://www.smashingmagazine.com/2013/02/setting-weights-and-styles-at-font-face-declaration/ */
body {
  font-family:               $font-sourcesans;
  font-size:                 $font-size;
  font-weight:               $font-sourcesans-weight;
  font-style:                $font-sourcesans-style;
  text-align:                $text-align;
  color:                     $primary-color;
  /*
  line-height:               $responsive-v;
  padding-top:               $padding-top-main !important;
  padding-bottom:            $padding-top-bottom !important;
  */
}

/* Evitar selección de elementos HTML con el ratón. */
*.unselectable {
  -webkit-touch-callout:     none;
  -moz-user-select:          -moz-none;
  -khtml-user-select:        none;
  -webkit-user-select:       none;
  -ms-user-select:           none;
  user-select:               none;
}

/* Ajustando la fuente de jQuery UI */
.ui-widget {
  font-family:               $font-sourcesans, Arial, Helvetica, sans-serif;
  font-size:                 ($font-size - 0.635);
}

.ui-widget .ui-widget {
  font-size:                 ($font-size - 0.635);
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family:               $font-sourcesans, Arial, Helvetica, sans-serif;
  font-size:                 ($font-size - 0.635);
}

/* Fuente: https://www.codementor.io/@ricardozea/100-responsive-typography-system-using-a-modular-scale-s5rhft58g */
.main-ctnr {
  width:                     100%;   /* For small screens */
  max-width:                 1140px; /* For large screens */
  margin:                    auto;   /* Center the container in the viewport */
}

h1 {
  font-family:               $font-sourcesans, Arial, Helvetica, sans-serif;
}

h2 {
  font-family:               $font-sourcesans, Arial, Helvetica, sans-serif;
}

h3 {
  font-family:               $font-sourcesans, Arial, Helvetica, sans-serif;
}

h4 {
  font-family:               $font-sourcesans, Arial, Helvetica, sans-serif;
}
h5 {
  font-family:               $font-sourcesans, Arial, Helvetica, sans-serif;
}
h6 {
  font-family:               $font-sourcesans, Arial, Helvetica, sans-serif;
}

h4, h5, h6 {
  line-height:               calc(18px + .2vw); /* Responsive Vertical Rhythm */
}

/* Fin del script principal SASS. */