// Create your SCSS variables here and it will override bootstrap styles
$font-stack:                 Helvetica, sans-serif;
$font-size:                  1.385em;
$responsive-h:               calc(1.385em + .35vw);   /* Responsive base font size */
$responsive-v:               calc(1.385em + 1.05vw);  /* Responsive Vertical Rhythm */
$text-align:                 justify;                    /* Texto alineado. */
$primary-color:              #191818;                  /* Color de la fuente. */
$padding-top-main:           75px;
$padding-top-bottom:         20px;

// Fuente: Roboto.
$font-roboto:                "Roboto";
$font-roboto-url:            "../fonts/Roboto/Roboto-Regular.ttf";
$font-roboto-weight:         100;
$font-roboto-style:          normal;

// Fuente: Palanquin.
$font-palanquin:             "Palanquin";
$font-palanquin-url:         "../fonts/Palanquin/Palanquin-Regular.ttf";
$font-palanquin-weight:      300;
$font-palanquin-style:       normal;

// Fuente: SourceSans
$font-sourcesans:            "SourceSans";
$font-sourcesans-url:        "../fonts/SourceSans/Source-Sans.ttf";
$font-sourcesans-weight:     300;
$font-sourcesans-style:      normal;

// Font Awesome 4.7.0: https://fontawesome.com/v4.7.0/get-started/
@import                      "./font-awesome/variables";
$fa-font-path:               "../fonts/font-awesome/" !default;
@import                      "./font-awesome/font-awesome.scss";

// Ionicons 2.0.1: https://ionicons.com/v2/cheatsheet.html
@import                      "./ionicons/_ionicons-variables";
$ionicons-font-path:         "../fonts/ionicons/" !default;
@import                      "./ionicons/ionicons.scss";

// Bootstrap 3.4.1.
$icon-font-path:             "../fonts/bootstrap/";
@import                      "./bootstrap/styles/_bootstrap.scss";

/* Navegación de Bootstrap. */
/* https://work.smarchal.com/twbscolor/ */
@import                      "./bootstrap/styles/bootstrap-navbar_new.scss";

// jQuery UI.
@import                      "./jquery.ui/jquery-ui.scss";

// jqGrid (de jqueryUI)
@import                      "./jqgrid/ui.jqgrid.scss";
@import                      "./jqgrid/ui.multiselect.scss";
@import                      "./jqgrid/jquery.searchFilter.scss";

// BlockUI
@import                      "./blockui/blockui.scss";

// Ladda.
@import                      "./ladda/ladda.scss";
@import                      "./ladda/ladda-themeless.scss";

// Loading-bar.
@import                      "./loading-bar/loadingbar.scss";

// ngDialog
@import                      "./ngdialog/ngDialog.scss";
@import                      "./ngdialog/ngDialog-theme-default.scss";
@import                      "./ngdialog/ngDialog-theme-plain.scss";

// sweetalert
@import                      "./sweetalert/angularjs-sweetalert.scss";

// toaster
@import                      "./toaster/toaster.scss";

// ui-select
@import                      "./ui-select/select.scss";
@import                      "./ui-select/selectize.scss";

// AdminLTE 2.4.11
@import                      "./adminlte2/AdminLTE.scss";
@import                      "./adminlte2/skins/_all-skins.scss";

// Material design for AngularJS.
@import                      "./material/angular-material.scss";

.navbar {
  margin-bottom:             20px;
}

.error-template {
  padding:                   40px 15px;
  text-align:                center;
}

.error-actions {
  margin-top:                15px;
  margin-bottom:             15px;
}

.error-actions .btn { 
  margin-right:              10px; 
}

.modal {
  font-size:                 ($font-size - 0.635);
  border-radius:             4px;
}

.modal-header {
  background-color:          #337AB7;
  padding:                   16px 16px;
  text-align:                center;
  font-size:                 ($font-size - 0.635);
  font-weight:               700;
  color:                     #FFF;
  border-bottom:             2px dashed #337AB7;
}

.blue-color {
  color:                     #003a5e;
}

.lbl {
  display:                   inline-block;
  min-width:                 250px;
}

/* Ajustes visuales de Jquery UI. */
.ui-widget {
  font-size:                 ($font-size - 0.395em) !important;
}

.ui-widget .ui-widget {
  font-size:                 ($font-size - 0.395em) !important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-size:                 ($font-size - 0.395em) !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-top-left-radius:    0.35em;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-top-right-radius:   0.35em;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0.35em;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius:0.35em;
}

/* Ajustes de jqGrid. */
.ui-jqgrid {
  max-width:                 100% !important;
  width:                     auto !important;
  border-radius:             0.35em;
}

/* Configuración de la fuente del componente jqGrid. */
.ui-jqgrid, .ui-jqgrid-hdiv, .ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-jqgrid-pager, .ui-jqgrid .ui-pg-input {
  font-size:                 ($font-size - 0.395em) !important;
}

.ui-jqgrid .ui-jqgrid-titlebar, .ui-jqgrid .ui-jqgrid-errorbar, .ui-jqdialog .ui-jqdialog-titlebar {
  font-size:                 ($font-size - 0.395em) !important;
}

/* Autoajustamos el ancho al 100%. */
.ui-jqgrid-view, .ui-jqgrid-hdiv, .ui-jqgrid-toppager, .ui-jqgrid-pager, .ui-jqgrid-bdiv {
  width:                     auto !important;
}

/* Aplicamos el estilo bootstrap del body-table y header-table. */
.ui-jqgrid .ui-jqgrid-btable {
  border-collapse:           separate;
}

.ui-jqgrid .ui-jqgrid-htable {
  border-collapse:           separate;
}

.ui-jqgrid .ui-jqgrid-ftable {
  border-collapse:           separate;
}

/* Ajustamos el texto de la barra de título de jqGrid. */
.ui-jqgrid .ui-widget-header, .ui-jqgrid .ui-jqgrid-titlebar {
  text-align:                center !important;
  text-shadow:               0 1px 0 rgba(255, 255, 255, 0.5) !important;
}

.ui-jqgrid ui-jqgrid-hdiv, .ui-jqgrid .ui-jqgrid-labels th.ui-th-column {
  background:                #F9F9F9;
  line-height:               19px;
  font-weight:               bold;
  color:                     #777777;
  text-shadow:               0 1px 0 rgba(255, 255, 255, 0.5);
}

/* Ajuste del contenido de las celdas de la tabla de jqGrid. */
.ui-jqgrid tr.jqgrow td {
  white-space:               normal !important;
  word-wrap:                 break-word !important;
  overflow-wrap:             break-word !important;
  vertical-align:            middle !important;
  height:                    auto !important;
  padding:                   0.5em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border-top:                1px solid #D3D3D3;
}

.jqgrid-fluid-width .ui-jqgrid {
  max-width:                 100% !important;
  width: auto                !important;
}

.ui-jqgrid .ui-pg-input[type="text"] {
  text-align:                center;
  pointer-events:            none;
}

/* enable scrollbar */
.ui-jqgrid .ui-jqgrid-bdiv {
  /*overflow: auto;*/
  overflow-y:                scroll !important;
  height:                    280px !important;
}

.ui-th-column, .ui-th-ltr, .jqgh_cbox, .cbox {
  white-space:               normal !important;
  height:                    auto !important;
  vertical-align:            middle !important
}

/*
.ui-jqgrid .ui-jqgrid-toppager { height:30px !important;}
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div>span { margin: 0 5px; font-size: 20px; }
.ui-jqgrid .ui-pg-button  { height:15px !important; width:15px !important;}
.ui-jqgrid .ui-jqgrid-toppager .ui-icon { position:relative; margin: 0px 10px;}
*/

th.ui-th-column div {
  white-space: normal !important;
  max-height: auto !important;
  height: auto !important;
  vertical-align: middle !important;
}


@media only screen and (max-width: 900px) {
  .ui-jqgrid .ui-jqgrid-pg-left, .ui-jqgrid .ui-jqgrid-pg-right {
    display: none;
  }
}

// Fuente: https://www.solucionex.com/blog/mixins-sass-recomendados-parte-i
// =============================================================================
// String Replace
// =============================================================================
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_") );
  $formats: ( otf: "opentype", ttf: "truetype" );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}
