<header>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavBarController as vm">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" ng-click="vm.isCollapsed = !vm.isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" uib-collapse="vm.isCollapsed">
      <ul class="nav navbar-nav">
        <li><a href="/">Inicio</a></li>
        <li><a href="/Contact">Contacto</a></li>
        <li><a href="/About">Acerca de...</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
  <!--
       <nav-bar
       	brand="vm.brand"
       	link-map="vm.linkMap"
       	drop-link-map="vm.dropLinkMap"
      	property="vm.property">
      	</nav-bar>
        -->
</nav>
</header>