// Create your SCSS variables here and it will override bootstrap styles
$font-stack:                 Helvetica, sans-serif;
$responsive-h:               calc(12px + .35vw);   /* Responsive base font size */
$responsive-v:               calc(12px + 1.05vw);  /* Responsive Vertical Rhythm */

$primary-color:              #191818;            /* Color de la fuente. */
$padding-top-main:           70px;
$padding-top-bottom:         20px;

// Fuente: Roboto.
$font-roboto:                "Roboto";
$font-roboto-url:            "../fonts/Roboto/Roboto-Regular.ttf";
$font-roboto-weight:         100;
$font-roboto-style:          normal;

// Fuente: Palanquin.
$font-palanquin:             "Palanquin";
$font-palanquin-url:         "../fonts/Palanquin/Palanquin-Regular.ttf";
$font-palanquin-weight:      300;
$font-palanquin-style:       normal;

// Font Awesome 4.7.0: https://fontawesome.com/v4.7.0/get-started/
@import "./font-awesome/variables";
$fa-font-path:               "../fonts/font-awesome" !default;
@import "./font-awesome/font-awesome.scss";

// Bootstrap 3.4.1.
$icon-font-path:             "../fonts/bootstrap/";
@import "./bootstrap/styles/_bootstrap.scss";

// Fuente: https://www.solucionex.com/blog/mixins-sass-recomendados-parte-i
// =============================================================================
// String Replace
// =============================================================================
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_") );
  $formats: ( otf: "opentype", ttf: "truetype" );
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}