<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aplicación de Ejemplo para Node.js" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#003a5e">
    <meta http-equiv="Cache-control: max-age=31556926" content="public">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
  </head>
  <body>
    <h1>Webpack, Sass & A Template Engine</h1>
    <img src="./static/logo.png" alt="">
    {{> partials/header title = htmlWebpackPlugin.options.title }}
    {{> partials/newsletter }}
    <h1>Funciona...!!!</h1>
    <p>AMLO CHINGAS A TU RETEPUTA MADRE</p>
    <p><strong>Y que chingue a su madre el América</strong></p>
    <h1>HUEVOS PUTOS</h1>
    <h1>HUEVOS PUTOS</h1>
    <h1>HUEVOS PUTOS</h1><p>Hello</p><p>Pollito</p>
    <h2>Cruz Azul</h2>

    <!-- Scripts externos -->
  </body>
</html>