<div id="home-header" class="jumbotron">
  <!-- Directiva de angularJS llamada "gretting" -->
  <greeting nombre="vm.nombre"></greeting>
  <input id="txtComentario" type="text" class="form-control" ng-model="vm.nombre">
</div>

<div>
  <label>Expresi&oacute;n booleana convertida a texto: <span ng-bind="vm.afirmacion | inputboolToText"></span></label>
  <label>Expresi&oacute;n booleana convertida a texto: <span ng-bind="vm.isCollapsed | inputboolToText"></span></label>
</div>

<button class="btn btn-primary" ng-click="vm.changeName()">Cambiar</button>
<button class="btn btn-danger" ng-click="vm.randomName()">Cambiar nombre de equipo</button>
<button class="btn btn-primary" ng-click="vm.randomBool()"><i class="fa fa-home"></i> Cambiar valor booleano</button>

<h2>Icon Buttons</h2>
<p>Icon buttons:</p>
<button class="btn btn-primary"><i class="fa fa-home"></i></button>
<button class="btn btn-primary"><i class="fa fa-bars"></i></button>
<button class="btn btn-primary"><i class="fa fa-trash"></i></button>
<button class="btn btn-primary"><i class="fa fa-close"></i></button>
<button class="btn btn-primary"><i class="fa fa-folder"></i></button>

<p>Icon buttons with text:</p>
<button class="btn btn-primary"><i class="fa fa-home"></i> Home</button>
<button class="btn btn-primary"><i class="fa fa-bars"></i> Menu</button>
<button class="btn btn-primary"><i class="fa fa-trash"></i> Trash</button>
<button class="btn btn-primary"><i class="fa fa-close"></i> Close</button>
<button class="btn btn-primary"><i class="fa fa-folder"></i> Folder</button>

<a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="reset" value="Reset">

  <h2>Alerts</h2>
  <div class="alert alert-success">
    <strong>Success!</strong> Indicates a successful or positive action.
  </div>
  <div class="alert alert-info">
    <strong>Info!</strong> Indicates a neutral informative change or action.
  </div>
  <div class="alert alert-warning">
    <strong>Warning!</strong> Indicates a warning that might need attention.
  </div>
  <div class="alert alert-danger">
    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
  </div>
