<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Aplicación de Ejemplo para Node.js" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-control: max-age=31556926" content="public" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#003a5e" />
    <title>{{ htmlWebpackPlugin.options.title }}</title>
  </head>
  <body class="unselectable container" ng-app="mainApp" ng-strict-di>
    <!-- Header de navegación. -->
    {{> partials/header title = htmlWebpackPlugin.options.title }}

    <!-- Contenido de la página. -->
    {{> partials/content }}

    <!-- Footer. -->
    {{> partials/footer }}
  </body>
</html>