$font-stack:                 Helvetica, sans-serif;
$font-size:                  0.85em;
$bg-dark:                    #3731AD;
$primary-color:              #0f0f0f;
$secondary-color:            #cd1019;

body {
  font-family: $font-stack;
  font-size: $font-size;
  background: $bg-dark;
  color: #ffffff;
}

h1 {
  color: orange;
}

.bg-white {
  background: #ffffff;
  color: #0f0f0f;
  padding: 40px;
}

p {
  font-size: 1.255em;
}