<!DOCTYPE html>
<html lang="en">

<head>
	<script>document.write('<base href="' + document.location + '" />');</script>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Aplicación de Ejemplo para Node.js" />
	<meta name="keywords" content="website keywords, website keywords" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Cache-control: max-age=31556926" content="public" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="theme-color" content="#003a5e" />
	<title>{{ htmlWebpackPlugin.options.title }}</title>
</head>

<body class="container unselectable" ng-app="mainApp" ng-strict-di>
	<!-- Controlador principal. -->
	<div id="divMain" ng-controller="IndexController as vm">
		<!-- Header de navegación. -->
		{{> partials/nav title = htmlWebpackPlugin.options.title }}

		<!-- Panel de alertas. -->
		<pre ng-bind="vm.getAlerts()"></pre>

		<!-- Contenido de la página. -->
		{{> partials/content }}

		<!-- Footer. -->
		{{> partials/footer }}
	</div><!-- ./div -->
</body>

</html>