/* Importamos las variables. */
@import "./variables.scss";

/* Importamos los estilos CSS de las pantallas. */
// @import "../partials/home/home.scss";

/* Segunda fuente. */
@font-face {
  font-family:              $font-palanquin;
  src:                      url($font-palanquin-url);
}


/* Configuración de los estilos CSS3 por SASS. */
/* Fuente: https://www.smashingmagazine.com/2013/02/setting-weights-and-styles-at-font-face-declaration/ */
body {
  font-family:               $font-palanquin;
  font-size:                 $responsive-h;
  font-weight:               $font-palanquin-weight;
  font-style:                $font-palanquin-style;
  color:                     $primary-color;
  line-height:               $responsive-v;
  padding-top:               $padding-top-main !important;
  padding-bottom:            $padding-top-bottom !important;
}

/* Evitar selección de elementos HTML con el ratón. */
*.unselectable {
  -moz-user-select:          -moz-none;
  -khtml-user-select:        none;
  -webkit-user-select:       none;
  -ms-user-select:           none;
  user-select:               none;
}

/* Fuente: https://www.codementor.io/@ricardozea/100-responsive-typography-system-using-a-modular-scale-s5rhft58g */
.main-ctnr {
  width: 100%; /* For small screens */
  max-width: 1140px; /* For large screens */
  margin: auto; /* Center the container in the viewport */
}

h1 {
  font-size: 1.912em;
  line-height: calc(18px + 1.8vw); /* Responsive Vertical Rhythm */
}

h2 {
  font-size: 1.616em;
  line-height: calc(18px + 1vw); /* Responsive Vertical Rhythm */
}

h3 {
  font-size: 1.471em;
  line-height: calc(18px + 0.7vw); /* Responsive Vertical Rhythm */
}

h4 { font-size: 1.3em; }
h5 { font-size: 1.243em; }
h6 { font-size: 1.132em; }

h4, h5, h6 {
  line-height: calc(18px + .2vw); /* Responsive Vertical Rhythm */
}

h1, h2, h3, h4, h5, h6 {
  margin: calc(12px + 1.05vw) 0; /* Responsive margins */
}

/* Fin del script principal SASS. */