<html lang="en" ng-app="mainApp" ng-strict-di>
  <head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Prueba</title>
  </head>
  <body ng-controller="indexController as vm">
    <div class="container unselectable">
      <h1>Prueba de TypeScript y jQuery con jQuery UI.</h1>
      <div ng-translate-language-select></div>
      <button id="btnTest" class="btn btn-primary" ng-click="vm.getGreet('Juanito')">Probar...</button>
      <button id="btnTest" class="btn btn-primary" ng-click="vm.getRandomString()">Cadena aleatoria...</button>
      <button id="btnTestAPI" class="btn btn-primary" ng-click="vm.getExecuteAPI()">Llamada a una Web API...</button>
      <footer><div ng-footer-info></div></footer>
      <pre>{{ vm.listaIdiomas | json }}</pre>
      <pre>{{ vm.idiomaLocal }}</pre>
      <pre>{{ vm.idiomaLocal2 }}</pre>
      <pre>{{ 'GLOBAL_YES' | translate }}</pre>
      <h2>Routing por TypeScript</h2>
      <ul class="treeview-menu">
        <li ng-class="vm.getClass('home')"><a ui-sref="home"><i class="fa fa-circle-o"></i> <span translate="GLOBAL_MAIN_MENU_MAIN_11"></span></a></li>
        <li ng-class="vm.getClass('contact')"><a ui-sref="contact"><i class="fa fa-circle-o"></i> <span translate="GLOBAL_MAIN_MENU_MAIN_12"></span></a></li>
        <li ng-class="vm.getClass('about')"><a ui-sref="about"><i class="fa fa-circle-o"></i> <span translate="GLOBAL_MAIN_MENU_MAIN_13"></span></a></li>
      </ul>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Aquí definimos el objeto ui-view -->
        <div class="ui-view" class="content body-content"></div>
        <!-- ./ui-view -->
      </div>
      <!-- /.content-wrapper -->
	  
    </div>
  </body>
</html>
