<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="C€ Platform Connect is the single platform that server as foundation for all the products of ControlExpert IberoAmerica and ControlExpert Italy." />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#003a5e">
        <meta http-equiv="Cache-control: max-age=31556926" content="public">   
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <h1>Hola a todos ustedes...</h1>
        <h2>Que tal.</h2>
        <h5>Prueba...</h5>
        <p>Ya funciona con Browser Sync.</p>
        <button id="btn-alert">Haz click aquí</button>
        <button id="btn-alert-jquery">Haz click aquí</button>  
    </body>
</html>