$font-stack:    Helvetica, sans-serif;
$primary-color: white;
$secondary-color:  #cd1019;

body{
    background: $primary-color;
    font-family: $font-stack;
    color: $secondary-color;
}

h1 {
 background-color: $primary-color;
}