<h2>Escoceses finos</h2>
<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr><td>Nombre:</td><td>Precio:</td></tr>
  </thead>
  <tbody> 
    <tr ng-repeat="scotch in vm.scotches">
      <td><span ng-bind=scotch.name></span></td>
      <td><span ng-bind=scotch.price></span></td>
    </tr>
  </tbody>
</table>