<div class="jumbotron">
  <!-- Directiva de angularJS llamada "gretting" -->
  <greeting nombre="vm.nombre"></greeting>
  <input id="txtComentario" type="text" class="form-control" ng-model="vm.nombre">
</div>

<div>
  <label>Expresi&oacute;n booleana convertida a texto: <span ng-bind="vm.afirmacion | inputboolToText"></span></label>
  <label>Expresi&oacute;n booleana convertida a texto: <span ng-bind="vm.isCollapsed | inputboolToText"></span></label>
</div>

<button class="btn btn-primary" ng-click="vm.changeName()">Cambiar</button>
<button class="btn btn-danger" ng-click="vm.randomName()">Cambiar nombre de equipo</button>
<button class="btn btn-primary" ng-click="vm.randomBool()"><i class="fa fa-home"></i> Cambiar valor booleano</button><br/>