<section class="bg-white">
  <h1>Newsletter</h1>
  <form action="">
    <input type="text" placeholder="Newsletter">
  </form>
  <p>Esto si funciona...</p><br/>
  <button id="btn-alert">Haz click aquí</button>
  <button id="btn-alert-jquery">Haz click aquí</button>  
</section>