/*
 * Skin: Black
 * -----------
 */
@import "../../bootstrap/styles/bootstrap/_variables.scss";
@import "../../bootstrap/styles/bootstrap/mixins";
@import "../variables";
@import "../mixins";

/* skin-black navbar */
.skin-black {
  //Navbar & Logo
  .main-header {
    @include box-shadow(0px 1px 1px rgba(0, 0, 0, 0.05));
    .navbar-toggle {
      color: #333;
    }
    .navbar-brand {
      color: #333;
      border-right: 1px solid #eee;
    }
    .navbar {
      @include navbar-variant(#fff, #333, #999, #fff);
      > .sidebar-toggle {
        color: #333;
        border-right: 1px solid #eee;
      }
      .navbar-nav {
        > li > a {
          border-right: 1px solid #eee;
        }
      }
      .navbar-custom-menu .navbar-nav,
      .navbar-right {
        > li {
          > a {
            border-left: 1px solid #eee;
            border-right-width: 0;
          }
        }
      }
    }
    .logo {
      @include logo-variant(#fff, #333);
      border-right: 1px solid #eee;
      @media (max-width: $screen-header-collapse) {
        @include logo-variant(#222, #fff);
        border-right: none;
      }
    }

    li.user-header {
      background-color: #222;
    }
  }

  //Content Header
  .content-header {
    background: transparent;
    box-shadow: none;
  }
  //Create the sidebar skin
  @include skin-dark-sidebar(#fff);

  .pace {
    .pace-progress {
      background: #222;
    }
    .pace-activity {
      border-top-color: #222;
      border-left-color: #222;
    }
  }
}
